/* #region GENERAL */

:root {

    /* do not use pixels for font-size*/
    font-size: 62.5%;

    /* palette */
    --primary-chiari: #fafafa;
    --secondary-chiari: #CBE3E9;
    --tertiary-chiari: #E1F9FE;
	
	--primary-scure: #333;
	--secondary-scure: #283D3A;
    --tertiary-scure: #111;

    background-color: var(--primary-chiari);
}

h2 {
    font-size: 2em;
}

h3 {
    font-size: 2em;
    font-weight: bold;
}

input, textarea {
    background-color: var(--tertiary-chiari);
    resize: none;
    border: 1px solid var(--tertiary-scure);
}

button {
    background-color: var(--secondary-chiari);
    padding: .5% 2%;
    border: 1px solid var(--secondary-scure);
    box-sizing: border-box;
    border-radius: 5px;
    transition: .5s;
}

button:hover {
    color: var(--primary-chiari);
    background-color: var(--secondary-scure);
}

/* #endregion GENERAL */

/* #region HEADER */

header {
    background-color: var(--secondary-scure);
    height: 100px;
    margin-bottom: 50px;

    display: flex;
    justify-content: center;

    transition: 1s;
}

.header-active {
    position: sticky;
    top: 0px;
}

/* #endregion HEADER */

/* #region MAIN */

.container {
    text-align: center;
}

/* #region SECTION 1 */

#snd-msg {
    margin: 0 auto;
    padding: 5%;
    min-width: 15%;
    max-width: 400px;
    background: #E1F9FE;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25), inset 3px 5px 2px rgba(0, 0, 0, 0.25);
    border-radius: 20px;

    text-align: left;
}

#snd-msg:first-of-type(p) {
    font-weight: bold;
}

#snd-msg div {
    font-size: 3em;
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    font-size: 2em;
}

#snd-msg div textarea {
    min-height: 100px;
}

#snd-msg button {
    margin: 0 auto;
    margin-top: 20px;
}

/* #endregion SECTION 1 */

/* #region SECTION 2 */

#tools {
    margin: 1% 0;
    font-size: 2em;
}

#tools h2 {
    margin-top: 50px;
}

#tools h2::after {
    display: block;
    content: "";
    background-color: var(--tertiary-scure);
    margin: 0 auto;
    width: 3em;
    height: .02em;
}

/* #endregion SECTION 2  */

/* #region SECTION 3 */

#messages {
    padding: 5%;
    display: flex;
    flex-direction: column-reverse;
    align-content: center;
    justify-content: center;
}

/* #region Template */

.template {
    background-color: var(--tertiary-chiari);
    font-size: 2em;
    text-align: left;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 10px;
    word-wrap: break-word;
    min-width: 250px;
}

.edit-menu {
    display: flex;
    flex-direction: column;
    background-color: var(--secondary-chiari);
    border-radius: 0 0 10px 10px;
    align-content: center;
    justify-content: center;
    padding: 1%;
}

.edit-menu div {
    padding: 1%;
    font-size: 3em;
    display: flex;
    justify-content: stretch;
    margin-top: 10px;
    font-size: 1em;
}

.column-template {
    padding: 2% 3%;
}

.buttons-template {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.template button {
    background-color: var(--tertiary-chiari);
    min-width: 30px;
    max-width: 100px;
    height: 30px;
    margin: 0 10px;
}

.top-template {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.message-field-edit {
    text-align: left;
    min-height: 100px;
}

.user-name {
    font-weight: bold;
    margin-bottom: 1em;
}

/* #endregion Template */



/* #endregion SECTION 3 */

/* #region UP BUTTON */

#up-button {
    position: sticky;
    bottom: 0;
    width: 50px;
    height: 50px;
    margin: 0 0 0 calc(100vw - 100px);
}

/* #endregion UP BUTTON */

/* #endregion MAIN */

/* #region FOOTER */


/* #endregion FOOTER */

/* #region ALT RESOLUTIONS */

@media screen and (max-height: 800px) {

}

/* #endregion ALT RESOLUTIONS */